.project_container {
  overflow: hidden;
  position: relative;
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  margin-bottom: var(--global-whitespace-xxs);
}

.project_image {
  border-radius: 2;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  /* height: var(--thumbnail-image-height); */
  transition: all 0.4s ease-in;
}


@media only screen and (max-width: 768px) {
  .project_image {
      height: 100%;
  }
}


@media only screen and (max-width: 425px) {
  .project_image {
      height: 100%;
  }
}


/* Make project title apear on hover over image in the middle */
.project_title {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0;
  transition: all 0.4s ease-in;
}



.project_image:hover {
  /* transform: scale(1.05); */
  filter: blur(2px);
}

.project_image:hover ~ .project_title {
  opacity: 1;
}

